.MuiDataGrid-cell{
    color: rgb(61, 60, 60);
    border-right: 1px solid #010101;
  }

  .custom-header {
    background-color: #2A3F54;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    cursor: default; 
    pointer-events: none;
  }
  
  .custom-header:hover {
    background-color: #2A3F54; 
    color: #FFFFFF; 
  }